.password-container {
    border-radius: 4px;
    margin: 15px auto;
    min-height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin: 15px auto 0 auto;
    }

    a {
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 10px auto;
    }

    .strength {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        &__group {
            display: flex;

            span {
                background: #888;
                height: 5px;
                width: 15px;
                margin: 5px 3px;
                border-radius: 1px;
                display: block;

                &.red {
                    background: #FF0000
                }

                &.yellow {
                    background: #FFFF00
                }

                &.green {
                    background: #008000
                }
            }
        }
    }
}